<img class="shittyLogo" src="/images/roadtriplogo.png" style="width: 20vw; min-width: 250px"/>

<div class="container-track">
  <div class="top20">Top 20 Songs</div>
{{#each tracks}}
<div class="user-badge">
  <div class="user-badge-avatar">
    <img src="{{picture}}"/>
  </div>
  <div class="login">{{playlist.name}}</div>
  <div class="heading">
    <ul>
      <li>{{name}}</li>
      <li>{{artist}}</li>
    </ul>
  </div>
  </table>
  <a type="button-cool-search" href="{{url}}">See more about artist</a>
</div>
{{/each}}
</div>
