<h1>{{playlist.name}}</h1>
{{creator}}
{{timeSince}} ago
{{followers.length}} followers

<a type="button" href="/export/{{spotifyId}}">Export to Spotify</a>

<table>
  <thead><tr>
    <td>Name</td>
    <td>Artist</td>
    <td>Album</td>
  </tr></thead>
  <tbody>
    {{#each songs}}
      <tr>
        <td>{{name}}</td>
        <td>{{artist}}</td>
        <td>{{album}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
